@charset "UTF-8";
.body {
    text-align: center;
}

.grupo-localizador {
    text-align: center;
    margin-top: 20px;
}

.linha-mensagem {
    margin-top: 15px;
    min-height: 200px;
}

.escondido {
    display: none;
}

.btn {
    text-align: right;
}

.grupo-cpf {
    margin-left: 100px;
}

.grupo-data {
    margin-left: 100px;
}

.grupo-contato-emergencia {
    margin-left: 100px;
}

.grupo-nome {
    margin-left: 100px;
}

.grupo-telefone {
    margin-left: 100px;
}

.grupo-sexo {
    margin-left: 100px;
}

.linha-mensagem {
    margin-left: 100px;
}

.grupo-telefone-emergencia {
    margin-left: 100px;
}

.mensagem-boas-vindas {
    margin-left: 100px;
}

.leftside,
.rightside {
    height: 50vh;
    width: 100%;
}

.rightside {
    background-color: white;
    margin-right: 100px;
}

.rightside .btn,
.leftside .btn,
.form-control {
    width: 100%;
    font-size: 25px;
}

.row-g-5 {
    margin-bottom: 15px;
}

.localizador {
    margin-top: 30px;
    width: 300px;
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
}

.leftside {
    background-color: white;
}

.area-cadeiras {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 50px;
    text-align: center;
}

.fileira {
    padding-top: 10px;
    text-align: center;
}

.cadeira {
    display: inline-block;
    width: 20%;
    font-size: 35px;
    text-align: center;
    border: 1px solid #ccc;
    margin-left: 50px;
}

.polt {
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 35px;
    text-align: center;
    border: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.selecionada {
    background-color: seagreen;
}

.cadeira:hover {
    cursor: pointer;
    background-color: seagreen;
}

.indisponivel {
    background-color: salmon;
}

.tela-helper {
    text-align: center;
}

.tela {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: black;
    height: 20px;
}